{% extends "opensixtContentBundle::layout.html.twig" %}

{% block title %}
    BikiniTranslate UserAdmin
{% endblock %}

{% block body %}

    {% if app.user.username %}
        {% set name = app.user.username %}
        <div class="message">{% trans %} hello %name% {% endtrans %}</div>
    {% endif %}
    <br /><br />

    <li>
        <a href="{{ path('_admin_userlist') }}">
            {{ 'user_list'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('_admin_grouplist') }}">
            {{ 'groups'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('_admin_langlist') }}">
            {{ 'languages'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('_admin_reslist') }}">
            {{ 'resources'|trans }}
        </a>
    </li>




{% endblock %}

