{% extends "opensixtContentBundle::layout.html.twig" %}

{% block title %}
    BikiniTranslate UserAdmin
{% endblock %}

{% block body %}
    {% if error %}
        <div class="error">{{ error.message }}</div>
    {% endif %}

    <form action="{{ path('_user_admin_check') }}" method="POST">
        <table>
            <tr>
                <td>
                    <label for="username">{{ 'username'|trans }}: </label>
                </td>
                <td>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password">{{ 'password'|trans }}: </label>
                </td>
                <td>
                    <input type="password" id="password" name="_password" />
                </td>
            </tr>
        </table>
        <input type="submit" name="login" value="{{ 'login'|trans }}" />
    </form>
{% endblock %}
