        <div class="paginator">
            {% if paginationbar.last > 1 %}
                <a href="{{ path(target_route, {'page':paginationbar.first}) }}">&lt;&lt;</a>&nbsp;
                <a href="{{ path(target_route, {'page':paginationbar.prev}) }}">&lt;</a>&nbsp;
                ...&nbsp;
                {% for page in paginationbar.pages %}
                    {% if page != paginationbar.current %}
                        <a href="{{ path(target_route, {'page':page}) }}">{{ page }}</a>&nbsp;
                    {% else %}
                        {{ page }}&nbsp;
                    {% endif %}
                {% endfor %}
                ...&nbsp;
                <a href="{{ path(target_route, {'page':paginationbar.next}) }}">&gt;</a>&nbsp;
                <a href="{{ path(target_route, {'page':paginationbar.last}) }}">&gt;&gt;</a>&nbsp;
            {% endif %}
        </div>