{% extends "opensixtContentBundle::layout.html.twig" %}

{% block title %}
    {{ 'resources'|trans }}
{% endblock %}

{% block body %}

    <h3>{{ 'resources'|trans }}</h3>

    <table class="list">
        <thead>
            <tr>
                <th style="width:150px">{{ 'resource'|trans }}</th>
                <th style="width:350px">{{ 'description'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for item in reslist %}
            <tr>
                <td><a href="{{ path('_admin_resource', {'id':item.id}) }}">{{ item.name }}</a></td>
                <td>{{ item.description }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">{{ 'no_resources_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    {% include 'opensixtUserAdminBundle:UserAdmin:paginationbar.html.twig' with {'target_route': '_admin_reslist', 'paginationbar' : paginationbar} %}
                </td>
            </tr>
        </tfoot>
    </table>



{% endblock %}

{% block sidebar %}
    <ul>
        <li class="backhome"><a href="{{ path('_user_admin_home') }}">{{ 'admin_home'|trans }}</a></li>
        <li class="new"><a href="{{ path('_admin_resource') }}">{{ 'new_resource'|trans }}</a></li>
    </ul>
{% endblock %}
