{% extends "opensixtContentBundle::layout.html.twig" %}

{% block title %}
    {{ 'user_list'|trans }}
{% endblock %}

{% block body %}

    <h3>{{ 'user_list'|trans }}</h3>

    <form action="{{ path('_admin_userlist') }}" method="post" {{ form_enctype(form) }}>
        {{ form_label(form.search) }} {{ form_widget(form.search) }}
        <input type="submit" value="{{ 'save_locale'|trans }}"/>
        {{ form_rest(form) }}
    </form>

    <div id="userlist_wrapper">
        <table id="userlist" class="list">
            <thead>
                <tr>
                    <th style="width:150px">{{ 'username'|trans }}</th>
                    <th style="width:250px">{{ 'email'|trans }}</th>
                    <th>{{ 'active'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for item in userlist %}
                <tr>
                    <td><a href="{{ path('_admin_user', {'id':item.id}) }}">{{ item.username }}</a></td>
                    <td>{{ item.email }}</td>
                    <td><input type="checkbox" disabled="disabled" {% if item.isactive %}checked="checked"{% endif %} /></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">{{ 'no_users_found'|trans }}</td>
                </tr>
            </tbody>
            {% endfor %}
            <tfoot>
                <tr>
                    <td colspan="3">
                        {% set param = {'target_route': '_admin_userlist', 'paginationbar' : paginationbar } %}
                        {% if search is defined %}
                            {% set param = param|merge({'search': search}) %}
                        {% endif %}
                        {% include 'opensixtBikiniTranslateBundle:Translate:paginationbar.html.twig' with param %}
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

{% endblock %}

{% block sidebar %}
    <ul>
        <li class="backhome"><a href="{{ path('_user_admin_home') }}">{{ 'admin_home'|trans }}</a></li>
        <li class="new"><a href="{{ path('_admin_user') }}">{{ 'new_user'|trans }}</a></li>
    </ul>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        $('#form_search').keyup(function() {
            var value = this.value;
            clearTimeout(this.load_timeout);
            this.load_timeout = null;

            this.load_timeout = setTimeout(function(){
                $('#userlist_wrapper').load(location.pathname + '?search=' + value + ' #userlist');
            }, 500);
        });
    });
    </script>
{% endblock %}
