{% extends "::layout.html.twig" %}

{% block title %}
    {{ 'user'|trans }}
{% endblock %}

{% block body %}

    <h3>{{ 'user'|trans }}</h3>

    <form action="{{ path('_admin_user', {'id':id}) }}" method="post" {{ form_enctype(form) }}>
        {#{ form_widget(form.user) }#}
        <div>
            {{ form_label(form.username) }}
            {{ form_errors(form.username) }}
            {{ form_widget(form.username) }}
        </div>
        <div>
            {{ form_label(form.email) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
        </div>
        {{ form_rest(form) }}
            <input type="submit" value="{{ 'submit'|trans }}"/>
    </form>

{% endblock %}

{% block sidebar %}
    <ul>
        <li class="backhome"><a href="{{ path('_user_admin_home') }}">{{ 'admin_home'|trans }}</a></li>
        <li class="back"><a href="{{ path('_admin_userlist') }}">{{ 'user_list'|trans }}</a></li>
    </ul>

    <br/>
    {% include 'opensixtBikiniTranslateBundle:Translate:useradmin_menu.html.twig' %}
{% endblock %}
