{% extends "opensixtUserAdminBundle:UserAdmin:layout.html.twig" %}

{% block title %}
    BikiniTranslate UserAdmin
{% endblock %}

{% block content %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li>
            <a href="{{ path('_user_admin_logout') }}">
                {{ 'logout'|trans }}
            </a>
        </li>
    {% else %}
        <li>
            <a href="{{ path('_user_admin_login') }}">
                {{ 'login'|trans }}
            </a>
        </li>
    {% endif %}
    <br />

    <li>
        <a href="{{ path('_user_admin_home') }}">
            {{ 'admin_home'|trans }}
        </a>
    </li>

    <br /><br />

    <div class="message">{{ 'user_list'|trans }} (<a href="{{ path('_admin_user') }}">{{ 'new_user'|trans }}</a>)</div>

    <br />

    <table>
        <tr>
            <td style="width:150px">{{ 'username'|trans }}</td>
            <td style="width:250px">{{ 'email'|trans }}</td>
            <td>{{ 'active'|trans }}</td>
        </tr>
        {% for item in userlist %}
        <tr>
            <td><a href="{{ path('_admin_user', {'id':item.id}) }}">{{ item.username }}</a></td>
            <td>{{ item.email }}</td>
            <td><input type="checkbox" value="1" {% if item.isactive %}checked="checked"{% endif %} /></td>
        </tr>
        {% else %}
        <tr>
            <td colspan="3">{{ 'no_users_found'|trans }}</td>
        </tr>
        {% endfor %}
    </table>


{% endblock %}
