<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{ 'welcome'|trans }}{% endblock %} :: opensixt/BikiniTranslate</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css">
        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
        <link href="{{ asset('/skins/' ~ skin ~ '/css/default.css') }}" type="text/css" rel="stylesheet" />
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>

        <div id="wrap">

            <div id="header">
                <img id="logo_header" src="/skins/{{ skin }}/img/logo_header.png"/>
            </div>

            {{ knp_menu_render('bikini_translate.sidebar_menu', {'template': '::nav.html.twig'}) }}

            <div id="main">
                {% block breadcrumbs %}
                    {{ wo_render_breadcrumbs() }}
                {% endblock %}
                {% block flash %}{% endblock %}
                <div id="content">
                {% block body %}{% endblock %}
                </div>
            </div>

            <div id="push"></div>

        </div>

        <div id="footer">
            <a href="#">Bikini Translate Policy</a>
            <a href="#">Licence</a>
            <a href="#">Usage</a>
            <a class="pull-right" href="https://github.com/opensixt/">opensixt on github</a>
            <a class="pull-right" href="https://github.com/opensixt/BikiniTranslate">BikiniTranslate on github</a>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.22/jquery-ui.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js"></script>
        <script src="/js/default.js"></script>
        {% block javascript_includes %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
