<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{{ 'welcome'|trans }}{% endblock %} :: opensixt/BikiniTranslate</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
            <link href="http://fonts.googleapis.com/css?family=Cabin+Condensed" rel="stylesheet" type="text/css">
            <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css">
            <link href="{{ asset('/bundles/opensixtbikinitranslate/css/content.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('/bundles/opensixtbikinitranslate/css/menu.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>

        <section id="wrapper">
            <header id="header">
                <div class="top">
                    {% block navigation %}
                        <nav>
                            <ul class="navigation">
                                <li class="left"><a href="{{ path('_home') }}">{{ 'home'|trans }}</a></li>
                                <li class="left"><a href="#">{{ 'about'|trans }}</a></li>
                                <li class="left"><a href="#">{{ 'contact'|trans }}</a></li>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li class="right"><a href="{{ path('_logout') }}">{{ 'logout'|trans }}</a></li>
                                <li class="right"><a href="{{ path('_user_admin_home') }}">{{ 'admin_home'|trans }}</a></li>
                            {% else %}
                                <li class="right"><a href="{{ path('_login') }}">{{ 'login'|trans }}</a></li>
                            {% endif %}
                            </ul>
                        </nav>
                    {% endblock %}
                </div>

                <hgroup>
                    <h2>{% block blog_title %}<a href="#">BikiniTranslate</a>{% endblock %}</h2>
                    <h3>{% block blog_tagline %}<a href="#">opensixt/BikiniTranslate</a>{% endblock %}</h3>
                </hgroup>
            </header>

            <section class="main">
                {% block body %}{% endblock %}
            </section>
            <aside class="sidebar">
                {% block sidebar %}
                    {{ knp_menu_render('bikini_translate.sidebar_menu') }}
                {% endblock %}
            </aside>

            <div id="footer">
                {% block footer %}
                    <a href="https://github.com/opensixt/">opensixt on github</a>
                {% endblock %}
            </div>
        </section>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.22/jquery-ui.min.js"></script>
        {% block javascript_includes %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
