{% extends 'OpensixtBikiniTranslateBundle::base.html.twig' %}

{% block title %}
    {{ 'translation_tool'|trans }}
{% endblock %}

{% block body %}

    <div class="textblock alert alert-info fade in"><button class="close" data-dismiss="alert">&times;</button> {{ 'addfreetext.explanation'|trans }}</div>
    
    <form class="form-horizontal alert" action="{{ path('_sxfreetext_add') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <div><input id="btnSearch" type="submit" value="{{ 'freetext.save'|trans }}"/></div>
        {{ form_rest(form) }}
    </form>

{% endblock %}

