{% extends 'OpensixtBikiniTranslateBundle::base.html.twig' %}

{% block title %}
    {{ 'translation_tool'|trans }}
{% endblock %}

{% block body %}

    <div class="textblock alert alert-info fade in"><button class="close" data-dismiss="alert">&times;</button>{{ 'changetext_explanation'|trans }}</div>

    <form class="alert alert-notice form-inline" action="{{ path('_translate_changetext') }}" method="post" {{ form_enctype(form) }}>

        {{ form_label(form.search) }} {{ form_widget(form.search) }}
        {{ form_label(form.resource) }} {{ form_widget(form.resource) }}
        {{ form_label(form.locale) }} {{ form_widget(form.locale) }}
        <input class="btn" id="btnSearch" type="submit" value="{{ 'submit_page'|trans }}"/>

        {% if searchResults is defined %}
        <table class="table table-bordered table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th >{{ 'original_text'|trans }}</th>
                    <th >{{ 'new_text'|trans }}</th>
                </tr>
            </thead>
            <tbody>

            {% for item in searchResults %}
                <tr>
                    <td>{{ item.resource.name }} ({{ item.locale.locale }}):<br/><br/> {{ item.target }} </td>
                    <td>{{ form_widget(form['text_' ~ item.id]) }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">{{ 'no_translation_found'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
            {% if searchResults|length %}
            <tfoot>
                <tr>
                    <td colspan="2">
                        {# navigation #}
                        {{ knp_pagination_render(searchResults)|raw }}
                    </td>
                </tr>
            </tfoot>
            {% endif %}
        </table>

        {% if searchResults is not empty %}
            <input class="btn" type="submit" value="{{ 'save'|trans }}" id="btnSaveTranslations" />
        {% endif %}

        {% endif %}

        {{ form_rest(form) }}
    </form>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        // no conflict mode, use $ in here

        $('#btnSaveTranslations').click(function(e) {
            e.preventDefault();

            var closure = function(buttonSaveChanges) {
                return function() {
                    $('#action').val('save');
                    buttonSaveChanges.form.submit();
                };
            };

            bikiniConfirm(
                '{{ 'confirm_text'|trans }}',
                '{{ 'confirm_ok'|trans }}',
                '{{ 'confirm_cancel'|trans }}',
                closure(this)
            );
        });

        $('#btnSearch').click(function() {
            $('#action').val('search');
        });

    });

    </script>
{% endblock %}
