{% extends "::layout.html.twig" %}

{% block title %}
    {{ 'translation_tool'|trans }}
{% endblock %}

{% block body %}

    <h3>{{ 'translation_tool'|trans }}</h3>

    <div class="textblock">{{ 'copylanguage_explanation'|trans }}</div>

    <form action="{{ path('_translate_copylanguage') }}" method="post" {{ form_enctype(form) }}>

        {{ form_label(form.lang_from) }} {{ form_widget(form.lang_from) }}
        {{ form_label(form.lang_to) }} {{ form_widget(form.lang_to) }}
        <input type="submit" value="{{ 'submit_page'|trans }}"/>

        {% if translateMade is defined and translateMade == 'done' %}
            <br/>
            <br/>
            <div class="message">
            {% if translationsCount is defined and translationsCount > 0 %}
                {% set count = translationsCount %}
                {% trans %}copy_lang_success %count%{% endtrans %}
            {% else %}
                {{ 'copy_nothing'|trans }}
            {% endif %}
            </div>
        {% endif %}

        {{ form_rest(form) }}
    </form>


{% endblock %}

{% block sidebar %}
    <ul>
        <li class="backhome"><a href="{{ path('_translate_home') }}">{{ 'admin_home'|trans }}</a></li>
        <br/>
        {% include 'opensixtBikiniTranslateBundle:Translate:translationtool_menu.html.twig' %}
    </ul>
{% endblock %}
