{% extends 'OpensixtBikiniTranslateBundle::base.html.twig' %}

{% block title %}
    {{ 'translation_tool'|trans }}
{% endblock %}

{% block body %}

    <div class="textblock alert alert-info fade in"><button class="close" data-dismiss="alert">&times;</button>{{ 'copylanguage_explanation'|trans }}</div>

    <form action="{{ path('_translate_copyresource') }}" method="post" {{ form_enctype(form) }}>

        <div class="alert alert-notice">
            {{ form_label(form.res_from) }} {{ form_widget(form.res_from) }}
            {{ form_label(form.locale) }} {{ form_widget(form.locale) }}
            {{ form_label(form.res_to) }} {{ form_widget(form.res_to) }}
            <input class="btn" id="btnCopyContent" type="submit" value="{{ 'submit_page'|trans }}"/>
        </div>

        {% if translateMade is defined and translateMade == 'done' %}
            {% if translationsCount is defined and translationsCount > 0 %}
                <div class="alert alert-success permanent">
                    {% set count = translationsCount %}
                    {% trans %}copy_res_success %count%{% endtrans %}
                </div>
            {% else %}
                <div class="alert alert-notice permanent">
                    {{ 'copy_nothing'|trans }}
                </div>
            {% endif %}
        {% endif %}

        {{ form_rest(form) }}
    </form>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        // no conflict mode, use $ in here

        $('#btnCopyContent').click(function(e) {
            e.preventDefault();

            var closure = function(buttonSaveChanges) {
                return function() {
                    buttonSaveChanges.form.submit();
                };
            };

            bikiniConfirm(
                '{{ 'confirm_text'|trans }}',
                '{{ 'confirm_ok'|trans }}',
                '{{ 'confirm_cancel'|trans }}',
                closure(this)
            );
        });
    });

    </script>
{% endblock %}

