{% extends 'OpensixtBikiniTranslateBundle::base.html.twig' %}

{% block title %}
    {{ 'translation_tool'|trans }}
{% endblock %}

{% block body %}

    <h3>{{ 'translation_tool'|trans }}</h3>

    <div class="textblock alert alert-info">{{ 'copylanguage_explanation'|trans }}</div>

    <form action="{{ path('_translate_copylanguage') }}" method="post" {{ form_enctype(form) }}>

        {{ form_label(form.lang_from) }} {{ form_widget(form.lang_from) }}
        {{ form_label(form.lang_to) }} {{ form_widget(form.lang_to) }}
        <input id="btnCopyContent" type="submit" value="{{ 'submit_page'|trans }}"/>

        {% if translateMade is defined and translateMade == 'done' %}
            <br/>
            <br/>
            {% if translationsCount is defined and translationsCount > 0 %}
                <div class="alert permanent notice">
                    {% set count = translationsCount %}
                    {% trans %}copy_lang_success %count%{% endtrans %}
                </div>
            {% else %}
                <div class="alert permanent">
                    {{ 'copy_nothing'|trans }}
                </div>
            {% endif %}

        {% endif %}

        {{ form_rest(form) }}
    </form>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        // no conflict mode, use $ in here

        $('#btnCopyContent').click(function(e) {
            e.preventDefault();

            var closure = function(buttonSaveChanges) {
                return function() {
                    buttonSaveChanges.form.submit();
                };
            };

            bikiniConfirm(
                '{{ 'confirm_text'|trans }}',
                '{{ 'confirm_ok'|trans }}',
                '{{ 'confirm_cancel'|trans }}',
                closure(this)
            );
        });
    });

    </script>
{% endblock %}
