{% extends "opensixtContentBundle::layout.html.twig" %}

{% block title %}
    {{ 'translation_tool'|trans }}
{% endblock %}

{% block body %}

    <h3>{{ 'translation_tool'|trans }}</h3>

    <div class="textblock">{{ 'edittext_explanation'|trans }}</div>

    <form action="{{ path('_translate_edittext', {'locale':locale, 'page':paginationbar.current}) }}" method="post">

    {{ form_label(form.resource) }} {{ form_widget(form.resource) }}
    <input id="btnSearch" type="button" value="{{ 'submit_page'|trans }}"/>

    <table class="list">
        <thead>
            <tr>
                <th>{{ 'source_lang'|trans }}</th>
                {% if not currentLangIsCommonLang %}
                <th>{{ 'english'|trans }}</th>
                {% endif %}
                <th>{{ 'translation'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for item in texts %}
            <tr>
                <td>{{ item.resource.name }}<br/>{{ item.source }}</td>
                {% if not currentLangIsCommonLang %}
                <td>{{ item.commonLang }}</td>
                {% endif %}
                <td>{{ form_widget(form['text_' ~ item.id]) }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">{{ 'no_translation_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    {% set param = {'target_route': '_translate_edittext', 'paginationbar' : paginationbar, 'locale': locale } %}
                    {% if resource is defined %}
                        {% set param = param|merge({'resource': resource}) %}
                    {% endif %}
                    {% include 'opensixtBikiniTranslateBundle:Translate:paginationbar.html.twig' with param %}
                </td>
            </tr>
        </tfoot>
    </table>

    <input type="button" value="{{ 'save'|trans }}" id="btnSaveTranslations">
    {{ form_rest(form) }}

    </form>

{% endblock %}


{% block sidebar %}
    <ul>
        <li class="backhome"><a href="{{ path('_translate_home') }}">{{ 'admin_home'|trans }}</a></li>
        <br/>
        {% include 'opensixtBikiniTranslateBundle:Translate:translationtool_menu.html.twig' %}
    </ul>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        // no conflict mode, use $ in here

        $('#btnSaveTranslations').click(function() {
            $('#form_action').val('save');
            $(this.form).submit();
            });

        $('#btnSearch').click(function() {
            $('#form_action').val('search');
            $(this.form).submit();
            });

    });

    </script>
{% endblock %}
