{% extends 'OpensixtBikiniTranslateBundle::base.html.twig' %}

{% block title %}
    {{ 'translation_tool'|trans }}
{% endblock %}

{% block body %}

    <h3>{{ 'translation_tool'|trans }}</h3>

    <div class="textblock">{{ 'edittext_explanation'|trans }}</div>

    <div class="textblock">
        <a href="{{ path('_translate_sendtots', {'locale':locale}) }}">
            {{ 'mnu_sendtots'|trans }}
        </a>
    </div>

    <form action="{{ path('_translate_edittext', {'locale':locale}) }}" method="post">

    {{ form_label(form.resource) }} {{ form_widget(form.resource) }}
    <input id="btnSearch" type="submit" value="{{ 'submit_page'|trans }}"/>

    <table class="list">
        <thead>
            <tr>
                <th>{{ 'source_lang'|trans }}</th>
                {% if not currentLangIsCommonLang %}
                <th>{{ 'english'|trans }}</th>
                {% endif %}
                <th>{{ 'translation'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for item in texts %}
            <tr id="item_{{ item.id }}">
                <td>
                    {{ item.resource.name }}<br/><br/>
                    {{ item.source }}
                    {% if item.suggestions|length > 0 %}
                    <br/><br/><a class="suggestion" href="#">{{ 'suggestions'|trans }}</a>
                    {% endif %}
                </td>
                {% if not currentLangIsCommonLang %}
                <td>{{ item.textInCommonLanguage }}</td>
                {% endif %}
                <td>{{ form_widget(form['text_' ~ item.id]) }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">{{ 'no_translation_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    {# navigation #}
                    {{ texts.render()|raw }}
                </td>
            </tr>
        </tfoot>
    </table>

    {% if texts is not empty %}
        <input type="submit" value="{{ 'save'|trans }}" id="btnSaveTranslations" />
    {% endif %}

    {{ form_rest(form) }}

    </form>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        // no conflict mode, use $ in here

        $('#btnSaveTranslations').click(function(e) {
            e.preventDefault();

            var closure = function(buttonSaveChanges) {
                return function() {
                    $('#action').val('save');
                    buttonSaveChanges.form.submit();
                };
            };

            bikiniConfirm(
                '{{ 'confirm_text'|trans }}',
                '{{ 'confirm_ok'|trans }}',
                '{{ 'confirm_cancel'|trans }}',
                closure(this)
            );
        });

        $('#btnSearch').click(function() {
            $('#action').val('search');
        });

        $('a.suggestion').click(function(e) {
            e.preventDefault();
            var id = $(this).closest('tr').attr('id').replace('item_', '');
            getDialog(id, suggestions[id]);
        });

        $('input[name=suggestions]').live('click', function() {
            var ids = this.id.split('_');
            if (ids.length != 3) {
                return;
            }
            var text = '';
            for (var i = 0, row; row = suggestions[ids[1]][i]; i++) {
                if (row.id == ids[2]) {
                    text = row.target;
                    break;
                }
            }
            setText(ids[1], text);
        });

        var suggestions = {};
        {% for item in texts %}
        suggestions[{{ item.id }}] = {{ item.suggestions|json_encode|raw }};
        {% endfor %}

        function getDialog(target_id, data)
        {
            var html = [];

            html.push('<p class="validateTips">{{ 'suggestion_text'|trans }}</p>');
            html.push('<fieldset>');

            for (var i = 0, row; row = data[i]; i++) {

                var radio_id = 'suggestion_' + target_id + '_' + row.id;
                html.push('<br/>');
                html.push('<label for="' + radio_id + '">' + row.resource.name + '</label><br/>');
                html.push('<input type="radio" name="suggestions" id="' + radio_id + '" class="text ui-widget-content ui-corner-all" />');
                html.push('<label for="' + radio_id + '">' +  row.target + '</label><br/>');
            }
            html.push('</fieldset>');

            var $dialog = $('<div></div>')
                        .html(html.join('\n'))
                        .dialog({
                            autoOpen: true,
                            title: '',
                            modal: true,
                            buttons:{
                                "Ok" : function() {
                                    $(this).dialog('destroy').remove();
                                }
                            },
                        });

        }

        function setText(id, text)
        {
            $('#text_' + id).val(text);
        }

    });
    </script>
{% endblock %}
