{% extends "opensixtContentBundle::layout.html.twig" %}

{% block title %}
    {{ 'admin_home'|trans }}
{% endblock %}

{% block body %}

    <h2>{{ 'admin_home'|trans }}</h2>

    {% if app.user.username %}
        {% set name = app.user.username %}
        <div class="message">{% trans %} hello %name% {% endtrans %}</div>
    {% endif %}

{% endblock %}

{% block sidebar %}

<ul>
    <li>
        {{ 'translation_tool'|trans }}
    </li>
    <li>
        <a href="{{ path('_translate_edittext') }}">
            {{ 'mnu_translate'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('_translate_home') }}">
            {{ 'mnu_search'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('_translate_home') }}">
            {{ 'mnu_change'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('_translate_home') }}">
            {{ 'Translate Link 4'|trans }}
        </a>
    </li>
</ul>

<br/>

<ul>
    <li>
        {{ 'administration'|trans }}
    </li>
    <li>
        <a href="{{ path('_admin_userlist') }}">
            {{ 'user_list'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('_admin_grouplist') }}">
            {{ 'groups'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('_admin_langlist') }}">
            {{ 'languages'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('_admin_reslist') }}">
            {{ 'resources'|trans }}
        </a>
    </li>
</ul>

{% endblock %}
