        {% set param = [] %}
        {% if locale is defined %}
            {% set param = param|merge({'locale': locale}) %}
        {% endif %}
        {% if search is defined %}
            {% set param = param|merge({'search': search}) %}
        {% endif %}
        {% if resource is defined %}
            {% set param = param|merge({'resource': resource}) %}
        {% endif %}
        {% if mode is defined %}
            {% set param = param|merge({'mode': mode}) %}
        {% endif %}

        {% set first = param|merge({'page':paginationbar.first}) %}
        {% set prev = param|merge({'page':paginationbar.prev}) %}
        {% set next = param|merge({'page': paginationbar.next}) %}
        {% set last = param|merge({'page':paginationbar.last}) %}

        <div class="paginator">
            {% if paginationbar.last > 1 %}
                <a href="{{ path(target_route, first) }}">&lt;&lt;</a>&nbsp;
                <a href="{{ path(target_route, prev) }}">&lt;</a>&nbsp;
                ...&nbsp;
                {% for page in paginationbar.pages %}
                    {% if page != paginationbar.current %}
                        {% set page_param = {'page':page} %}
                        {% set page_param = page_param|merge(param) %}
                        <a href="{{ path(target_route, page_param) }}">{{ page }}</a>&nbsp;
                    {% else %}
                        {{ page }}&nbsp;
                    {% endif %}
                {% endfor %}
                ...&nbsp;
                <a href="{{ path(target_route, next) }}">&gt;</a>&nbsp;
                <a href="{{ path(target_route, last) }}">&gt;&gt;</a>&nbsp;
            {% endif %}
        </div>