{% extends 'opensixtBikiniTranslateBundle::base.html.twig' %}

{% block title %}
    {{ 'translation_tool'|trans }}
{% endblock %}

{% block body %}

    <h3>{{ 'translation_tool'|trans }}</h3>

    <div class="textblock">{{ 'searchstring_explanation'|trans }}</div>

    <form action="{{ path('_translate_searchstring') }}" method="post" {{ form_enctype(form) }}>

        {{ form_label(form.search) }} {{ form_widget(form.search) }}
        {{ form_label(form.resource) }} {{ form_widget(form.resource) }}
        {{ form_label(form.mode) }} {{ form_widget(form.mode) }}
        <br/>
        {{ form_label(form.locale) }} {{ form_widget(form.locale) }}
        <br/>
        <input type="submit" value="{{ 'submit_page'|trans }}"/>
        {{ form_rest(form) }}
    </form>

    {% if searchResults is defined %}
    <table class="list">
        <thead>
            <tr>
                <th>{{ 'results'|trans }}</th>
            </tr>
        </thead>
        <tbody>

        {% for item in searchResults %}
            <tr>
                <td>"{{ searchPhrase }}" ({{ item.resource.name }}): {{ item.target.0.target }} ({{ item.locale.locale }})</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">{{ 'no_translation_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>

        {% if paginationbar is defined %}
        <tfoot>
            <tr>
                <td colspan="2">
                    {% set param = {'target_route': '_translate_searchstring', 'paginationbar' : paginationbar } %}
                    {% set param = param|merge({'search': search, 'mode': mode, 'resource': resource}) %}
                    {% include 'opensixtBikiniTranslateBundle:Translate:paginationbar.html.twig' with param %}
                </td>
            </tr>
        </tfoot>
        {% endif %}
    </table>
    {% endif %}

{% endblock %}
