{% extends 'OpensixtBikiniTranslateBundle::base.html.twig' %}

{% block title %}
    {{ 'translation_tool'|trans }}
{% endblock %}

{% block body %}

    <h3>{{ 'translation_tool'|trans }}</h3>

    <div class="textblock alert alert-info fade in">{{ 'sendtots_explanation'|trans }}</div>

    {% if success is defined%}
    <div class="textblock alert alert-info fade in"><button class="close" data-dismiss="alert">&times;</button>{{ 'sendtots_success'|trans }}</div>
    {% else %}
    <form action="{{ path('_translate_sendtots', {'locale': locale}) }}" method="post" {{ form_enctype(form) }}>

        {% if data is defined %}
        <table class="table table-bordered table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th >{{ 'cleantext_resource'|trans }}</th>
                    <th >{{ 'cleantext_text'|trans }}</th>
                </tr>
            </thead>
            <tbody>

            {% for item in data %}
                <tr>
                    <td>{{ item.resource.name }}<br/><br/> </td>
                    <td>{{ item.source }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">{{ 'no_translation_found'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

         <input class="btn" type="submit" value="{{ 'send'|trans }}" id="btnSendToTS"/>

        {{ form_rest(form) }}
    </form>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        // no conflict mode, use $ in here

        $('#btnSendToTS').click(function(e) {
            e.preventDefault();

            var closure = function(buttonSaveChanges) {
                return function() {
                    $('#action').val('send');
                    buttonSaveChanges.form.submit();
                };
            };

            bikiniConfirm(
                '{{ 'confirm_text'|trans }}',
                '{{ 'confirm_ok'|trans }}',
                '{{ 'confirm_cancel'|trans }}',
                closure(this)
            );
        });
    });

    </script>
{% endblock %}
