{% extends "::layout.html.twig" %}

{% block title %}
    {{ 'translation_tool'|trans }}
{% endblock %}

{% block body %}

    <h3>{{ 'translation_tool'|trans }}</h3>

    <form action="{{ path('_translate_setlocale') }}" method="post" {{ form_enctype(form) }}>
        {{ form_rest(form) }}
        <input type="submit" value="{{ 'save_locale'|trans }}"/>
    </form>

{% endblock %}

{% block sidebar %}
    <ul>
        <li class="backhome"><a href="{{ path('_translate_home') }}">{{ 'admin_home'|trans }}</a></li>
        <br/>
        {% include 'opensixtBikiniTranslateBundle:Translate:translationtool_menu.html.twig' %}
    </ul>
{% endblock %}
