{% extends 'OpensixtBikiniTranslateBundle::base.html.twig' %}

{% block title %}
    {{ 'translation_tool'|trans }}
{% endblock %}

{% block body %}

    <form class="alert alert-info" style="display: inline-block;" action="{{ path('_translate_setlocale') }}" method="post" {{ form_enctype(form) }}>
        {{ form_rest(form) }}
        <input class="btn" type="submit" value="{{ 'save_locale'|trans }}"/>
    </form>

{% endblock %}
