<ul>
    <li>
        {{ 'translation_tool'|trans }}
    </li>
    <li>
        <a href="{{ path('_translate_edittext') }}">
            {{ 'mnu_translate'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('_translate_searchstring') }}">
            {{ 'mnu_search'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('_translate_changetext') }}">
            {{ 'mnu_change'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('_translate_copylanguage') }}">
            {{ 'mnu_copylanguage'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('_translate_copyresource') }}">
            {{ 'mnu_copyresource'|trans }}
        </a>
    </li>
</ul>