<ul>
    <li>
        {{ 'administration'|trans }}
    </li>
    <li>
        <a href="{{ path('_admin_userlist') }}">
            {{ 'user_list'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('_admin_grouplist') }}">
            {{ 'groups'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('_admin_langlist') }}">
            {{ 'languages'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('_admin_reslist') }}">
            {{ 'resources'|trans }}
        </a>
    </li>
</ul>
