{% extends 'OpensixtBikiniTranslateBundle::base.html.twig' %}

{% block title %}
    {{ 'create_group'|trans }}
{% endblock %}

{% block body %}

    <h3>{{ 'create_group'|trans }}</h3>

    <form action="{{ path('_admin_group_save_new') }}" method="post" {{ form_enctype(form) }}>
        <div>
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div>
            {{ form_label(form.description) }}
            {{ form_errors(form.description) }}
            {{ form_widget(form.description) }}
        </div>
        {{ form_rest(form) }}
        <input type="submit" value="{{ 'submit'|trans }}"/>
    </form>

{% endblock %}