{% extends 'OpensixtBikiniTranslateBundle::base.html.twig' %}

{% block title %}
    {{ 'user'|trans }}
{% endblock %}

{% block body %}

    {% if countNotTranslatedTexts > 0 %}
    <div class="textblock alert alert-danger fade in">{{ 'not_translated_texts'|trans }} {{ countNotTranslatedTexts }}</div>
    {% endif%}

    <form class="form-horizontal alert" action="{{ path('_admin_user_save', { 'id': user.getId() }) }}" method="post" {{ form_enctype(form) }}>
        {% include 'OpensixtUserAdminBundle:User:form.html.twig' %}
    </form>

{% endblock %}