{% extends 'OpensixtBikiniTranslateBundle::base.html.twig' %}

{% block title %}
    {{ 'translation_tool'|trans }}
{% endblock %}

{% block body %}

    <h3>{{ 'translation_tool'|trans }}</h3>

    <div class="textblock alert alert-info">{{ 'changemobile.explanation'|trans }}</div>

    <form action="{{ path('_sxmobile_change') }}" method="post" {{ form_enctype(form) }}>

        {{ form_label(form.search) }} {{ form_widget(form.search) }}
        {{ form_label(form.domain) }} {{ form_widget(form.domain) }}
        {{ form_label(form.locale) }} {{ form_widget(form.locale) }}
        <input id="btnSearch" type="submit" value="{{ 'submit_page'|trans }}"/>

        {% if searchResults is defined %}
        <table class="list">
            <thead>
                <tr>
                    <th>{{ 'key'|trans }}</th>
                    <th>{{ 'original_text'|trans }}</th>
                    <th>{{ 'new_text'|trans }}</th>
                </tr>
            </thead>
            <tbody>

            {% for item in searchResults %}
                <tr>
                    <td>{{ item.domain.name }} ({{ item.text.locale.locale }})<br/><br/>{{ item.text.source }}</td>
                    <td>{{ item.text.target }}</td>
                    <td>{{ form_widget(form['text_' ~ item.text.id]) }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">{{ 'no_translation_found'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="2">
                        {# navigation #}
                        {{ searchResults.render()|raw }}
                    </td>
                </tr>
            </tfoot>
        </table>

        {% if searchResults is not empty %}
            <input type="submit" value="{{ 'save'|trans }}" id="btnSaveTranslations" />
        {% endif %}

        {% endif %}

        {{ form_rest(form) }}
    </form>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        // no conflict mode, use $ in here

        $('#btnSaveTranslations').click(function(e) {
            e.preventDefault();

            var closure = function(buttonSaveChanges) {
                return function() {
                    $('#action').val('save');
                    buttonSaveChanges.form.submit();
                };
            };

            bikiniConfirm(
                '{{ 'confirm_text'|trans }}',
                '{{ 'confirm_ok'|trans }}',
                '{{ 'confirm_cancel'|trans }}',
                closure(this)
            );
        });

        $('#btnSearch').click(function() {
            $('#action').val('search');
        });

    });

    </script>
{% endblock %}

