{% extends 'OpensixtBikiniTranslateBundle::base.html.twig' %}

{% block title %}
    {{ 'translation_tool'|trans }}
{% endblock %}

{% block body %}

    <div class="textblock alert alert-info fade in"><button class="close" data-dismiss="alert">&times;</button>{{ 'editmobile.explanation'|trans }}</div>

    <form class="form-horizontal alert" action="{{ path('_sxmobile_edit', {'locale':locale}) }}" method="post">

    {{ form_label(form.domain) }} {{ form_widget(form.domain) }}
    <input class="btn" id="btnSearch" type="submit" value="{{ 'submit_page'|trans }}"/>

    <table class="table table-bordered table-striped table-hover table-condensed" style="margin-top: 20px;">
        <thead>
            <tr>
                <th>{{ 'key'|trans }}</th>
                {% if not currentLangIsCommonLang %}
                <th>{{ 'english'|trans }}</th>
                {% endif %}
                <th>{{ 'translation'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for item in texts %}
            {% set foo = item.text.id %}
            <tr id="item_{{ item.text.id }}">
                <td>{{ item.text.source }}</td>
                {% if not currentLangIsCommonLang %}
                <td>{{ item.text.textInCommonLanguage }}</td>
                {% endif %}
                <td>{{ form_widget(form['text_' ~ item.text.id]) }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{ 'no_translation_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
        {% if texts|length %}
        <tfoot>
            <tr>
                <td colspan="3">
                    {# navigation #}
                    {{ texts.render()|raw }}
                </td>
            </tr>
        </tfoot>
        {% endif %}
    </table>

    {% if texts is not empty %}
        <input class="btn" type="submit" value="{{ 'freetext.save'|trans }}" id="btnSaveTranslations" />
    {% endif %}

    {{ form_rest(form) }}

    </form>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        // no conflict mode, use $ in here

        var $buttonSaveChanges = $('#btnSaveTranslations');

        $buttonSaveChanges.click(function(e) {
            e.preventDefault();

            bikiniConfirm(
                '{{ 'confirm_text'|trans }}',
                '{{ 'confirm_ok'|trans }}',
                '{{ 'confirm_cancel'|trans }}',
                function() {
                    $('#action').val('save');
                    $buttonSaveChanges.get(0).form.submit();
                }
            );
        });

        $('#btnSearch').click(function() {
            $('#action').val('search');
        });
    });
    </script>
{% endblock %}
