{% extends "::layout.html.twig" %}

{% block title %}
    {{ 'create_language'|trans }}
{% endblock %}

{% block body %}

    <h3>{{ 'create_language'|trans }}</h3>

    <form action="{{ path('_admin_language_save_new') }}" method="post" {{ form_enctype(form) }}>
        <div>
            {{ form_label(form.locale) }}
            {{ form_errors(form.locale) }}
            {{ form_widget(form.locale) }}
        </div>
        <div>
            {{ form_label(form.description) }}
            {{ form_errors(form.description) }}
            {{ form_widget(form.description) }}
        </div>
        {{ form_rest(form) }}
        <input type="submit" value="{{ 'submit'|trans }}"/>
    </form>

{% endblock %}

{% block sidebar %}
    <ul>
        <li class="backhome"><a href="{{ path('_user_admin_home') }}">{{ 'admin_home'|trans }}</a></li>
        <li class="back"><a href="{{ path('_admin_langlist') }}">{{ 'language_list'|trans }}</a></li>
    </ul>

    <br/>
    {% include 'opensixtBikiniTranslateBundle:Translate:useradmin_menu.html.twig' %}
{% endblock %}
