{% extends 'OpensixtBikiniTranslateBundle::base.html.twig' %}

{% block title %}
    {{ 'languages'|trans }}
{% endblock %}

{% block body %}

    <form class="alert alert-info form-inline">
        <a class="btn" href="{{ path('_admin_language_create') }}">{{ 'new_language'|trans }}</a>
    </form>

    <table class="table table-bordered table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th style="width:150px">{{ 'language'|trans }}</th>
                <th style="width:350px">{{ 'description'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for item in pagination %}
            <tr>
                <td><a href="{{ path('_admin_language', {'id': item.id}) }}">{{ item.locale }}</a></td>
                <td>{{ item.description }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">{{ 'no_languages_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
        {% if pagination|length %}
        <tfoot>
            <tr>
                <td colspan="2">
                    {{ pagination.render()|raw }}
                </td>
            </tr>
        </tfoot>
        {% endif %}
    </table>



{% endblock %}